* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

#container {
  width: 90%;
  max-width: 700px;
  margin: 4rem auto;
}


h1,
h2,
h3 {
  color: #333;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

h2,
h3 {
  margin: 2rem 0 1rem;
}

p,
li {
  font-size: 1rem;
  line-height: 150%;
  color: #444;
  margin: 1.25rem 0;
}

li {
  margin: 0.25rem 0 0 2.5rem;
}

li:first-child {
  margin-top: 0;
}

a {
  color: #40739e;
  font-weight: normal;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:active {
  color: #4d85b3;
  background-color: transparent;
}

img {
  max-width: 100%;
}

.header-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 0;
  object-fit: cover;
  flex-shrink: 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-size: 3rem;
  margin: 0;
  color: #333;
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

.social-links {
  font-size: 1rem;
  color: #444;
  line-height: 1.8;
}
